.container {
  background-color: aquamarine;
  width: 500px;
  height: 500px;
  display: grid;
}

.gridRow {
  background-color: black;
}

.cell {
  background-color: blue;
  display: flex;
}

.square {
  background-color: black;
  color: aliceblue;
  margin: 0;
  user-select: none;
}